@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Site.css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<h1 class="m-5 MainTitle">Welcome To Person List</h1>

<img class="MainPicture m-5" src="~/AppFile/Images/anaResim.png" alt="Person" />